.about-container{
    padding: 80px 0px;
}
.section-title{
    padding: 0px 0px 21px 0px;
}
.section-title-head{
    width: fit-content;
    padding-bottom: 12px;
    border-bottom: 5px solid #34b7a7;
}
.about-first-row{
    margin: 40px 0px;
}
.text-left
{
    float: left;
}
.text-right
{
    float:right;
}
.progress-bar{
    background-color: var(#0dcaf0);
}

.facts-number{
    color: #34b7a7;
    font-size: 48px;
}
.facts-num{
    text-align: center;
}
.testimonial{
    text-align: center;
    margin: 30px 0px;
 
}
.testimonial-img{
    border-radius: 50%;
    height: 140px;
}
.testimonial-card h3{
    font-size: 20px;
    font-weight: bold;
    font-size: 14px;
    color: #999;
    margin: 15px 0 15px 0;
    color: #111;
}
.testimonial-card h4{
    font-style: italic;
    font-size: 14px;
    color: #999;
    margin: 0 0 15px 0;
}
.testimonial-card p{
    font-style: italic;
    margin: 0 auto 15px auto;
}
.quote{
    color: #c8efea;
    font-size: 26px;
}